/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	// color: $link-color;

	/* on hover */
	&:hover, &:focus {
		// color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

// h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
// 	text-rendering: optimizelegibility;
// 	font-weight: 500;
// 	/*
// 	if you're going to use webfonts, be sure to check your weights
// 	http://css-tricks.com/watch-your-font-weight/
// 	*/

// 	/* removing text decoration from all headline links */
// 	a {
// 		text-decoration: none;
// 	}
// }

// h1, .h1 {
// 	font-size: 2.5em;
// 	line-height: 1.333em;
// }

// h2, .h2 {
// 	font-size: 1.75em;
// 	line-height: 1.4em;
// 	margin-bottom: 0.375em;
// }

// h3, .h3 {
// 	font-size: 1.125em;
// }

// h4, .h4 {
// 	font-size: 1.1em;
// 	font-weight: 700;
// }

// h5, .h5 {
// 	font-size: 0.846em;
// 	line-height: 2.09em;
// 	text-transform: uppercase;
// 	letter-spacing: 2px;
// }

/*********************
HEADER STYLES
*********************/

.header {
}

	#logo {
		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			// border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				border-top: none;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

// .pagination,
// .wp-prev-next {
// 	margin: 1.5em 0;
// }
	// .pagination{
 //    text-align: center;

 //    ul {
 //      display: inline-block;
 //      background-color: $white;
 //      white-space: nowrap;
 //      padding: 0;
 //      clear: both;
 //      border-radius: 3px;
 //    }

 //    li {
 //      padding: 0;
 //      margin: 0;
 //      float: left;
 //      display: inline;
 //      overflow: hidden;
 //      border-right: 1px solid $gray;
 //    }

 //    a, span {
 //      margin: 0;
 //      text-decoration: none;
 //      padding: 0;
 //      line-height: 1em;
 //      font-size: 1em;
 //      font-weight: normal;
 //      padding: 0.75em;
 //      min-width: 1em;
 //      display: block;
 //      color: $blue;

 //      &:hover, &:focus {
 //      	background-color: $blue;
 //      	color: $white;
 //      }
 //    }

 //    .current{
 //    	cursor: default;
 //    	color: $text-color;

 //    	&:hover, &:focus {
 //    		background-color: $white;
 //    		color: $text-color;
 //    	}
 //    }

 //  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	ul {
		li {
			list-style-type: none;
		}
	}
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}



/*********************
MAQUETACIÓN
*********************/

@font-face {
    font-family: 'zona_probold';
    src: url('../fonts/zonapro-bold-webfont.eot');
    src: url('../fonts/zonapro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/zonapro-bold-webfont.woff2') format('woff2'), url('../fonts/zonapro-bold-webfont.woff') format('woff'), url('../fonts/zonapro-bold-webfont.ttf') format('truetype'), url('../fonts/zonapro-bold-webfont.svg#zona_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zona_prothin';
    src: url('../fonts/zonapro-thin-webfont.eot');
    src: url('../fonts/zonapro-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/zonapro-thin-webfont.woff2') format('woff2'), url('../fonts/zonapro-thin-webfont.woff') format('woff'), url('../fonts/zonapro-thin-webfont.ttf') format('truetype'), url('../fonts/zonapro-thin-webfont.svg#zona_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?pf2111');
    src: url('../fonts/icomoon.eot?pf2111#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?pf2111') format('truetype'), url('../fonts/icomoon.woff?pf2111') format('woff'), url('../fonts/icomoon.svg?pf2111#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*ICONOS*/

.icon-flecha:before {
    content: "\e914";
}

.icon-cabeza:before {
    content: "\e900";
}

.icon-celular:before {
    content: "\e901";
}

.icon-chat:before {
    content: "\e902";
}

.icon-circuitos:before {
    content: "\e903";
}

.icon-circulo-x:before {
    content: "\e904";
}

.icon-conect-personas:before {
    content: "\e905";
}

.icon-contacto a:before {
    content: "\e906";
}

.icon-control:before {
    content: "\e907";
}

.icon-energia:before {
    content: "\e908";
}

.icon-enviar:before {
    content: "\e909";
}

.icon-facebook a:before {
    content: "\e90a";
}

.icon-flecha-der:before {
    content: "\e90b";
}

.icon-flecha-iz:before {
    content: "\e90c";
}

.icon-idea:before {
    content: "\e90d";
}

.icon-mano-puntero:before {
    content: "\e90e";
}

.icon-manos:before {
    content: "\e90f";
}

.icon-marcador:before {
    content: "\e910";
}

.icon-puzzle:before {
    content: "\e911";
}

.icon-telefono:before {
    content: "\e912";
}

.icon-youtube a:before {
    content: "\e913";
}


/*TERMINAN ICONOS*/

a {
    color: initial;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'zona_prothin';
    font-size: 16px;
    color: black;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
strong,
label {
    font-family: 'zona_probold';
}

header {
    border-top: solid 12px #2da2e1;
    overflow: hidden;
}

header nav {
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

header nav h1 {
    font-family: inherit;
}

header nav h1,
header nav h2 {
    margin: 0;
}

h3 {
    color: black;
    font-size: 1em;
}
header a:hover, footer a:hover{

    color:#2f98d9;
}
header nav ul:first-of-type {
    width: 100%;
    overflow: hidden;
}

header nav ul:first-of-type li {
    padding: 34px 0;
}

header nav figure {
    position: relative;
    text-align: center;
}

header nav h1 {
    font-size: 2.4em;
    color: #c5c5c5;
    margin-right: 5px;
}

header nav h2 {
    font-family: 'zona_probold';
    font-size: 0.8em;
}

header nav h1,
header nav h2 {
    display: inline-block;
}

header ul li {
    display: inline-block;
}

header .social {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.7em;
    z-index: 1;
}

header .social a {
    color: #60b1e4;
}
header .social a:hover{

    color: #7e7e7e;
}
footer {
    font-family: 'zona_probold';
    color: #5e5e5e;
    background: #ececec;
    border-top: solid 5px #2da2e1;
    padding: 40px 0;
}

footer a {
    color: inherit;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-size: 0.75em;
}

footer .social li {
    display: inline-block;
}

footer .social a {
    font-size: 1.25em;
    color: inherit;
}
footer .social a:hover{

    color: #60b1e4;
}
footer #siguenos {
    text-align: center;
    padding: 3% 0;
}

footer #siguenos .social {
    font-size: 1.5em;
}

footer #siguenos h3:before,
footer #siguenos h3:after {
    content: '';
    width: 5%;
    height: 1px;
    background: black;
    position: absolute;
}

footer #siguenos h3:before {
    bottom: 6px;
    left: 70px;
}

footer #siguenos h3:after {
    bottom: 6px;
    right: 70px;
}

footer .contacto li {
    padding: 5px 0;
}

footer h3 {
    display: block;
    font-size: 0.9em;
}

footer figure {
    text-align: center;
    padding: 3% 0;
}

footer figure img {
    width: 60%;
    height: auto;
}

footer h3 {
    position: relative;
}

footer h3:before {
    content: '';
    width: 15%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 0;
}
footer #derechos{
    padding-top: 30px;
    font-size: 0.6em;
    display: block;
    border-top: 1px solid #cbc8c8;
}
footer #derechos div:first-of-type{

    text-align: left;
}
footer #derechos div:last-of-type{

    text-align: right;
}

footer #derechos div:nth-of-type(2) strong{

   border-bottom: 1px solid #7e7e7e;
    padding-bottom: 5px;
}
ul {
    padding: 0;
    margin: 0;
}

#bannerEstatico figure figcaption {
    padding-left: 30px;
}

#bannerEstatico figure figcaption h1:before {
    content: '';
    width: 12%;
    height: 5px;
    background: white;
    position: absolute;
    left: -30px;
    top: -20px;
}

#contactoForm input,
#contactoForm textarea {
    width: 100%;
    display: block;
}

#contactoForm label {
		width: 100%;
}

#contactoForm input[type="submit"] {
	margin: 0 auto;
	width: auto;
}

#contactoForm button {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
}

#contactoForm .submit {
    text-align: center;
}

#equipo figure {
    position: relative;
}

#equipo figure img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#equipo figure:hover img {
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#equipo figure:hover figcaption {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#equipo figure figcaption {
    height: 80px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#logo {
    padding: 0;
}

#logoMobile {
    display: none;
}

#queHacemos article {
    overflow: hidden;
    margin: 80px 0;
}

#queHacemos article figure img {
    width: 100%;
    height: auto;
    box-shadow: -10px 10px 0px #e5e5e5;
}

#queHacemos article div {
    float: right;
    padding-left: 130px;
    padding-right: inherit;
}

#queHacemos article:nth-child(2n+1) div {
    float: left;
    padding-right: 130px;
    padding-left: inherit;
}

#queHacemos article div h1 {
    font-size: 6.3em;
    color: #c6c6c6;
    margin: 20px 0 10px;
}

#queHacemos article div h2 {
    margin-top: 0;
}

#queHacemos article p:before {
    content: '';
    width: 45%;
    height: 1px;
    position: relative;
    right: 51%;
    display: block;
    background: #2f98d9;
    z-index: 1;
}

#queHacemos article:nth-child(2n+1) p:before{

     content: '';
    width: 45%;
    height: 1px;
    position: relative;
    left: 99%;
    display: block;
    background: #2f98d9;
    z-index: 1;
}

#sliderHome .pagination {
    max-width: 1170px;
    position: absolute;
    margin: auto;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2%;
    z-index: 1;
}

#sliderHome .pagination .swiper-pagination-bullet {
    background: url(../images/pagination-center.png) center center no-repeat;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    opacity: 0.3;
}

#sliderHome .pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

#sliderHome figure,
#bannerEstatico figure {
    position: relative;
    padding: 0;
}

#sliderHome figure figcaption,
#bannerEstatico figure figcaption {
    font-family: 'zona_probold';
    /*    max-width: 1170px;*/
    position: absolute;
    top: 10%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}

#sliderHome figure figcaption h1,
#bannerEstatico figure figcaption h1 {
    color: white;
    margin-bottom: 30px;
    position: relative;
}

#sliderHome figure figcaption a {
    font-size: 0.75em;
    background: white;
    padding: 3px 10px;
    border-radius: 50px;
}

#sliderHome figure img,
#bannerEstatico figure img {
    width: 100%;
    height: auto;
}

#quienesSomos ul li {
    color: #2da2e1;
}

#quienesSomos ul li p {
    font-family: 'zona_probold';
    font-size: initial !important;
    color: black;
    padding: 15px 0;
}

#quienesSomos p {
    font-size: 1.4em;
}

#ubicacion iframe {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.beneficios {
    font-family: 'zona_probold';
    overflow: hidden;
}

.beneficios ul {
    overflow: hidden;
    display: block;
    min-height: 100px;
    color: #5f5f5f;
}

.beneficios ul li {
    display: inline-block;
    text-align: center;
}

.beneficios ul li h1 {
    color: initial;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 3em;
}

.beneficios ul .col-md-8 {
    font-size: 1.25em;
    border-top: 1px solid grey;
    height: 100%;
    padding: 20px 30px;
}

.beneficios figure {
    text-align: center;
    margin-bottom: 35px;
}

.beneficios span {
    color: #339bdb;
    font-size: 3.7em;
    display: block;
    margin: 20px 0;
}

.contenedorPq {
    max-width: 550px;
    position: relative;
    margin: 0 auto;
}

.contenedorMed {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.menuMobile {
    display: none;
}

.menuHome article {
    margin: 25px 0;
    overflow: hidden;
}

.menuHome article .imagen-color {
    position: relative;
    /*    width: 704px;*/
    height: 208px;
    overflow: hidden;
}

.menuHome article .imagen-color img {
    /*    width: inherit !important;*/
    position: absolute;
    right: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menuHome article .imagen-home {
    /*    width: 390px;*/
    height: 260px;
}

.menuHome article .imagen-home img {
    width: 100%;
    height: auto;
}

.menuHome article figure {
    float: right;
}

.menuHome article figure {
    float: right;
}

.menuHome article .imagen-color figcaption {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
    color: white;
}

.menuHome article.imagen-menu figure {
    padding: 0 !important;
}

.menuHome article.imagen-menu .imagen-color figcaption a {
    font-family: 'icomoon';
    color: white;
    font-size: 2.8em;
    float: left;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption a {
    float: right;
}

.menuHome article .imagen-color figcaption p {
    display: inline-block;
}

.menuHome article:nth-child(2n+1) figure {
    float: left;
}

.menuHome article .imagen-color figcaption a:before {
    content: '\e90c';
    position: relative;
    top: -10px;
    margin-right: 10px;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption a:before {
    content: '\e90b';
    position: relative;
    top: -10px;
    margin-left: 10px;
}

.menuHome article.imagen-menu .imagen-color figcaption {
    left: 0;
    text-align: left;
    margin-left: 25px;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption {
    right: 0;
    text-align: right;
    margin-right: 25px;
}

.menuHome .azul,
.menuHome .verde,
.menuHome .purpura {
    background-size: 100% !important;
    -webkit-background-size: 100% !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menuHome .azul {
    background: url(../images/bg-imagenes-home-azul.png)center center no-repeat;
}

.menuHome .verde {
    background: url(../images/bg-imagenes-home-verde.png)center center no-repeat;
}

.menuHome .purpura {
    background: url(../images/bg-imagenes-home-purpura.png)center center no-repeat;
}

.contactoInterior {
    text-align: center;
    overflow: inherit !important;
}

.contactoHome {
    margin-bottom: 25px;
}

.btnContactanos {
    font-family: 'zona_probold';
    background: #2f98d9;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0 10px;
}
.btnContactanos:hover{

    color: white;
    background: #7e7e7e;
}
.btnContactanos span:before {
    margin-left: 5px;
}

.iconoTexto,
.cita {
    margin: 25px 0;
    text-align: center;
}

.iconoTexto div,
.cita div {
    max-width: 860px;
    position: relative;
    margin: 0 auto;
}

.iconoTexto span {
    font-size: 7.5em;
    color: #2da2e1;
    display: block;
}

.iconoTexto strong {
    font-size: 1.8em;
}

.cita strong {
    font-size: 1.3em;}

.iconoTexto p {
    margin-top: 20px;
}
.lineaAbajo{

    width: 1px;
    height: 75px;
    background: #2f98d9;
    position: relative;
    margin: 0 auto;
}
.lineaCuadros {
    background: url(../images/linea-cuadros.jpg)center center no-repeat;
    max-width: 475px;
    height: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    display: block;
}

.tituloCentral {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.tituloCentral:after {
    content: '';
    width: 120px;
    height: 1px;
    background: black;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.textoRegular {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 960px) {
    #sliderHome figure figcaption {
        top: 7%;
    }
    #sliderHome .pagination {
        left: 3%;
        bottom: 8%;
    }
    #logo {
        display: none;
    }
    #logoMobile {
        display: block;
        margin: 25px 0;
        text-align: center;
    }
    #sliderHome .pagination {
        background: #35a5dc;
        position: relative;
        text-align: center;
        left: 0;
        padding: 10px 0;
    }
    #sliderHome figure figcaption h1 {
        font-size: 1.5em;
    }
    .menuHome article .imagen-color {
        height: 250px !important;
    }
    .menuHome .azul,
    .menuHome .verde,
    .menuHome .purpura {
        background-image: none;
        opacity: 0.9;
    }
    .menuHome .azul {
        background-color: #35a5dc;
    }
    .menuHome .verde {
        background-color: #b3cf32;
    }
    .menuHome .purpura {
        background-color: #7b328b;
    }
}

@media only screen and (max-width: 640px) {
    header nav {
        display: none;
    }
    header nav figure img {
        width: 100%;
        height: auto;
    }
    header nav ul li {
        text-align: center;
        padding: 10px 0px !important;
        border-top: 1px solid #dedede;
    }
    header nav h1,
    header nav h2 {
        display: block;
    }
    header .social {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    footer #derechos div{

        text-align: center !important;
    }
    #logoMobile figure img {
        width: 60%;
    }
    #queHacemos article div {
        padding: inherit !important;
    }
    #queHacemos article {
        border-bottom: 1px solid #dedede;
        padding-bottom: 80px;
    }
    #sliderHome figure figcaption{

        top:0px;
    }
    #sliderHome figure figcaption h1 {
        margin-top: 5px;
        font-size: 1.2em;
        float: left;
    }
    #sliderHome figure figcaption a {
        font-size: 0.6em;
        position: absolute;
        bottom: 34px
    }
    .beneficios figure img {
        width: 80%;
        height: auto;
    }
    .beneficios ul {
        border-top: 1px solid grey;
        /*        height: auto;*/
    }
    .beneficios ul li h1 {
        border-bottom: none;
    }
    .beneficios ul .col-md-8 {
        border: none;
    }
    .btnContactanos {
        display: block;
        margin-top: 25px;
    }
    .contenedorPq {
        margin: 0 50px;
    }
    .menuHome article .imagen-color {
        min-height: 280px !important;
    }
    .menuHome article.imagen-menu .imagen-color figcaption {
        margin: 25px 0 !important;
        text-align: center !important;
    }
    .menuHome article.imagen-menu .imagen-color figcaption a {
        margin: 10px;
        display: block;
    }
    /*MENU MOBILE*/
    .menuMobile {
        display: block;
        position: absolute;
        left: 0px;
        top: 80px;
        width: 30px;
        height: 30px;
        margin: 25px;
    }
    .menuMobile span {
        margin: 0 auto;
        position: relative;
        top: 12px;
    }
    .menuMobile span:before,
    .menuMobile span:after {
        position: absolute;
        content: '';
    }
    .menuMobile span,
    .menuMobile span:before,
    .menuMobile span:after {
        width: 30px;
        height: 6px;
        background-color: #2f98d9;
        display: block;
    }
    .menuMobile span:before {
        margin-top: -12px;
    }
    .menuMobile span:after {
        margin-top: 12px;
    }
    .menuAnimacion span {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .menuAnimacion:hover span {
        background-color: rgba(0, 0, 0, 0.0);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .menuAnimacion span:before {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
    .menuAnimacion:hover span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }
    .menuAnimacion span:after {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
    .menuAnimacion:hover span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }
    /*TERMINA MENU MOBILE*/
    .social {
        border-top: 1px solid #dedede;
    }
    .social li {
        border: none;
        font-size: 1.5em
    }
}