@font-face {
    font-family: 'zona_probold';
    src: url('../fonts/zonapro-bold-webfont.eot');
    src: url('../fonts/zonapro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/zonapro-bold-webfont.woff2') format('woff2'), url('../fonts/zonapro-bold-webfont.woff') format('woff'), url('../fonts/zonapro-bold-webfont.ttf') format('truetype'), url('../fonts/zonapro-bold-webfont.svg#zona_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zona_prothin';
    src: url('../fonts/zonapro-thin-webfont.eot');
    src: url('../fonts/zonapro-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/zonapro-thin-webfont.woff2') format('woff2'), url('../fonts/zonapro-thin-webfont.woff') format('woff'), url('../fonts/zonapro-thin-webfont.ttf') format('truetype'), url('../fonts/zonapro-thin-webfont.svg#zona_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?pf2111');
    src: url('../fonts/icomoon.eot?pf2111#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?pf2111') format('truetype'), url('../fonts/icomoon.woff?pf2111') format('woff'), url('../fonts/icomoon.svg?pf2111#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*ICONOS*/

.icon-flecha:before {
    content: "\e914";
}

.icon-cabeza:before {
    content: "\e900";
}

.icon-celular:before {
    content: "\e901";
}

.icon-chat:before {
    content: "\e902";
}

.icon-circuitos:before {
    content: "\e903";
}

.icon-circulo-x:before {
    content: "\e904";
}

.icon-conect-personas:before {
    content: "\e905";
}

.icon-contacto:before {
    content: "\e906";
}

.icon-control:before {
    content: "\e907";
}

.icon-energia:before {
    content: "\e908";
}

.icon-enviar:before {
    content: "\e909";
}

.icon-facebook:before {
    content: "\e90a";
}

.icon-flecha-der:before {
    content: "\e90b";
}

.icon-flecha-iz:before {
    content: "\e90c";
}

.icon-idea:before {
    content: "\e90d";
}

.icon-mano-puntero:before {
    content: "\e90e";
}

.icon-manos:before {
    content: "\e90f";
}

.icon-marcador:before {
    content: "\e910";
}

.icon-puzzle:before {
    content: "\e911";
}

.icon-telefono:before {
    content: "\e912";
}

.icon-youtube:before {
    content: "\e913";
}


/*TERMINAN ICONOS*/

a {
    color: initial;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'zona_prothin';
    font-size: 16px;
    color: black;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
strong,
label {
    font-family: 'zona_probold';
}

header {
    border-top: solid 12px #2da2e1;
    overflow: hidden;
}

header nav {
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

header nav h1 {
    font-family: inherit;
}

header nav h1,
header nav h2 {
    margin: 0;
}

h3 {
    color: black;
    font-size: 1em;
}
header a:hover, footer a:hover{

    color:#2f98d9;
}
header nav ul:first-of-type {
    width: 100%;
    overflow: hidden;
}

header nav ul:first-of-type li {
    padding: 34px 0;
}

header nav figure {
    position: relative;
    text-align: center;
}

header nav h1 {
    font-size: 2.4em;
    color: #c5c5c5;
    margin-right: 5px;
}

header nav h2 {
    font-family: 'zona_probold';
    font-size: 0.8em;
}

header nav h1,
header nav h2 {
    display: inline-block;
}

header ul li {
    display: inline-block;
}

header .social {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.7em;
    z-index: 1;
}

header .social a {
    color: #60b1e4;
}
header .social a:hover{

    color: #7e7e7e;
}
footer {
    font-family: 'zona_probold';
    color: #5e5e5e;
    background: #ececec;
    border-top: solid 5px #2da2e1;
    padding: 40px 0;
}

footer a {
    color: inherit;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-size: 0.75em;
}

footer .social li {
    display: inline-block;
}

footer .social a {
    font-size: 1.25em;
    color: inherit;
}
footer .social a:hover{

    color: #60b1e4;
}
footer #siguenos {
    text-align: center;
    padding: 3% 0;
}

footer #siguenos .social {
    font-size: 1.5em;
}

footer #siguenos h3:before,
footer #siguenos h3:after {
    content: '';
    width: 5%;
    height: 1px;
    background: black;
    position: absolute;
}

footer #siguenos h3:before {
    bottom: 6px;
    left: 70px;
}

footer #siguenos h3:after {
    bottom: 6px;
    right: 70px;
}

footer .contacto li {
    padding: 5px 0;
}

footer h3 {
    display: block;
    font-size: 0.9em;
}

footer figure {
    text-align: center;
    padding: 3% 0;
}

footer figure img {
    width: 60%;
    height: auto;
}

footer h3 {
    position: relative;
}

footer h3:before {
    content: '';
    width: 15%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 0;
}
footer #derechos{
    padding-top: 30px;
    font-size: 0.6em;
    display: block;
    border-top: 1px solid #cbc8c8;
}
footer #derechos div:first-of-type{

    text-align: left;
}
footer #derechos div:last-of-type{

    text-align: right;
}

footer #derechos div:nth-of-type(2) strong{

   border-bottom: 1px solid #7e7e7e;
    padding-bottom: 5px;
}
ul {
    padding: 0;
    margin: 0;
}

#bannerEstatico figure figcaption {
    padding-left: 30px;
}

#bannerEstatico figure figcaption h1:before {
    content: '';
    width: 12%;
    height: 5px;
    background: white;
    position: absolute;
    left: -30px;
    top: -20px;
}

#contactoForm label,
#contactoForm input,
#contactoForm textarea {
    width: 100%;
    display: block;
}

#contactoForm button {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
}

#contactoForm .submit {
    text-align: center;
}

#equipo figure {
    position: relative;
}

#equipo figure img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#equipo figure:hover img {
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#equipo figure:hover figcaption {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#equipo figure figcaption {
    height: 80px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#logo {
    padding: 0;
}

#logoMobile {
    display: none;
}

#queHacemos article {
    overflow: hidden;
    margin: 80px 0;
}

#queHacemos article figure img {
    width: 100%;
    height: auto;
    box-shadow: -10px 10px 0px #e5e5e5;
}

#queHacemos article div {
    float: right;
    padding-left: 130px;
    padding-right: inherit;
}

#queHacemos article:nth-child(2n+1) div {
    float: left;
    padding-right: 130px;
    padding-left: inherit;
}

#queHacemos article div h1 {
    font-size: 6.3em;
    color: #c6c6c6;
}

#queHacemos article div h2 {
    margin-top: 0;
}

#queHacemos article p:before {
    content: '';
    width: 45%;
    height: 1px;
    position: relative;
    right: 51%;
    display: block;
    background: #2f98d9;
    z-index: 1;
}

#queHacemos article:nth-child(2n+1) p:before{

     content: '';
    width: 45%;
    height: 1px;
    position: relative;
    left: 99%;
    display: block;
    background: #2f98d9;
    z-index: 1;
}

#sliderHome .pagination {
    max-width: 1170px;
    position: absolute;
    margin: auto;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2%;
    z-index: 1;
}

#sliderHome .pagination .swiper-pagination-bullet {
    background: url(../images/pagination-center.png) center center no-repeat;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    opacity: 0.3;
}

#sliderHome .pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

#sliderHome figure,
#bannerEstatico figure {
    position: relative;
    padding: 0;
}

#sliderHome figure figcaption,
#bannerEstatico figure figcaption {
    font-family: 'zona_probold';
    /*    max-width: 1170px;*/
    position: absolute;
    top: 10%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
}

#sliderHome figure figcaption h1,
#bannerEstatico figure figcaption h1 {
    color: white;
    margin-bottom: 30px;
    position: relative;
}

#sliderHome figure figcaption a {
    font-size: 0.75em;
    background: white;
    padding: 3px 10px;
    border-radius: 50px;
}

#sliderHome figure img,
#bannerEstatico figure img {
    width: 100%;
    height: auto;
}

#quienesSomos ul li {
    color: #2da2e1;
}

#quienesSomos ul li p {
    font-family: 'zona_probold';
    font-size: initial !important;
    color: black;
    padding: 15px 0;
}

#quienesSomos p {
    font-size: 1.4em;
}

#ubicacion iframe {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.beneficios {
    font-family: 'zona_probold';
    overflow: hidden;
}

.beneficios ul {
    overflow: hidden;
    display: block;
    min-height: 100px;
    color: #5f5f5f;
}

.beneficios ul li {
    display: inline-block;
    text-align: center;
}

.beneficios ul li h1 {
    color: initial;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 3em;
}

.beneficios ul .col-md-8 {
    font-size: 1.25em;
    border-top: 1px solid grey;
    height: 100%;
    padding: 20px 30px;
}

.beneficios figure {
    text-align: center;
    margin-bottom: 35px;
}

.beneficios span {
    color: #339bdb;
    font-size: 3.7em;
    display: block;
    margin: 20px 0;
}

.contenedorPq {
    max-width: 550px;
    position: relative;
    margin: 0 auto;
}

.contenedorMed {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.menuMobile {
    display: none;
}

.menuHome article {
    margin: 25px 0;
    overflow: hidden;
}

.menuHome article .imagen-color {
    position: relative;
    /*    width: 704px;*/
    height: 208px;
    overflow: hidden;
}

.menuHome article .imagen-color img {
    /*    width: inherit !important;*/
    position: absolute;
    right: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menuHome article .imagen-home {
    /*    width: 390px;*/
    height: 260px;
}

.menuHome article .imagen-home img {
    width: 100%;
    height: auto;
}

.menuHome article figure {
    float: right;
}

.menuHome article figure {
    float: right;
}

.menuHome article .imagen-color figcaption {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
    color: white;
}

.menuHome article.imagen-menu figure {
    padding: 0 !important;
}

.menuHome article.imagen-menu .imagen-color figcaption a {
    font-family: 'icomoon';
    color: white;
    font-size: 2.8em;
    float: left;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption a {
    float: right;
}

.menuHome article .imagen-color figcaption p {
    display: inline-block;
}

.menuHome article:nth-child(2n+1) figure {
    float: left;
}

.menuHome article .imagen-color figcaption a:before {
    content: '\e90c';
    position: relative;
    top: -10px;
    margin-right: 10px;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption a:before {
    content: '\e90b';
    position: relative;
    top: -10px;
    margin-left: 10px;
}

.menuHome article.imagen-menu .imagen-color figcaption {
    left: 0;
    text-align: left;
    margin-left: 25px;
}

.menuHome article.imagen-menu:nth-child(2n+1) .imagen-color figcaption {
    right: 0;
    text-align: right;
    margin-right: 25px;
}

.menuHome .azul,
.menuHome .verde,
.menuHome .purpura {
    background-size: 100% !important;
    -webkit-background-size: 100% !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menuHome .azul {
    background: url(../images/bg-imagenes-home-azul.png)center center no-repeat;
}

.menuHome .verde {
    background: url(../images/bg-imagenes-home-verde.png)center center no-repeat;
}

.menuHome .purpura {
    background: url(../images/bg-imagenes-home-purpura.png)center center no-repeat;
}

.contactoInterior {
    text-align: center;
    overflow: inherit !important;
}

.contactoHome {
    margin-bottom: 25px;
}

.btnContactanos {
    font-family: 'zona_probold';
    background: #2f98d9;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0 10px;
}
.btnContactanos:hover{

    color: white;
    background: #7e7e7e;
}
.btnContactanos span:before {
    margin-left: 5px;
}

.iconoTexto,
.cita {
    margin: 25px 0;
    text-align: center;
}

.iconoTexto div,
.cita div {
    max-width: 860px;
    position: relative;
    margin: 0 auto;
}

.iconoTexto span {
    font-size: 7.5em;
    color: #2da2e1;
    display: block;
}

.iconoTexto strong {
    font-size: 1.8em;
}

.cita strong {
    font-size: 1.3em;}

.iconoTexto p {
    margin-top: 20px;
}
.lineaAbajo{

    width: 1px;
    height: 75px;
    background: #2f98d9;
    position: relative;
    margin: 0 auto;
}
.lineaCuadros {
    background: url(../images/linea-cuadros.jpg)center center no-repeat;
    max-width: 475px;
    height: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    display: block;
}

.tituloCentral {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.tituloCentral:after {
    content: '';
    width: 120px;
    height: 1px;
    background: black;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.textoRegular {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 960px) {
    #sliderHome figure figcaption {
        top: 7%;
    }
    #sliderHome .pagination {
        left: 3%;
        bottom: 8%;
    }
    #logo {
        display: none;
    }
    #logoMobile {
        display: block;
        margin: 25px 0;
        text-align: center;
    }
    #sliderHome .pagination {
        background: #35a5dc;
        position: relative;
        text-align: center;
        left: 0;
        padding: 10px 0;
    }
    #sliderHome figure figcaption h1 {
        font-size: 1.5em;
    }
    .menuHome article .imagen-color {
        height: 250px !important;
    }
    .menuHome .azul,
    .menuHome .verde,
    .menuHome .purpura {
        background-image: none;
        opacity: 0.9;
    }
    .menuHome .azul {
        background-color: #35a5dc;
    }
    .menuHome .verde {
        background-color: #b3cf32;
    }
    .menuHome .purpura {
        background-color: #7b328b;
    }
}

@media only screen and (max-width: 640px) {
    header nav {
        display: none;
    }
    header nav figure img {
        width: 100%;
        height: auto;
    }
    header nav ul li {
        text-align: center;
        padding: 10px 0px !important;
        border-top: 1px solid #dedede;
    }
    header nav h1,
    header nav h2 {
        display: block;
    }
    header .social {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    footer #derechos div{

        text-align: center !important;
    }
    #logoMobile figure img {
        width: 60%;
    }
    #queHacemos article div {
        padding: inherit !important;
    }
    #queHacemos article {
        border-bottom: 1px solid #dedede;
        padding-bottom: 80px;
    }
    #sliderHome figure figcaption{

        top:0px;
    }
    #sliderHome figure figcaption h1 {
        margin-top: 5px;
        font-size: 1.2em;
        float: left;
    }
    #sliderHome figure figcaption a {
        font-size: 0.6em;
        position: absolute;
        bottom: 34px
    }
    .beneficios figure img {
        width: 80%;
        height: auto;
    }
    .beneficios ul {
        border-top: 1px solid grey;
        /*        height: auto;*/
    }
    .beneficios ul li h1 {
        border-bottom: none;
    }
    .beneficios ul .col-md-8 {
        border: none;
    }
    .btnContactanos {
        display: block;
        margin-top: 25px;
    }
    .contenedorPq {
        margin: 0 50px;
    }
    .menuHome article .imagen-color {
        min-height: 280px !important;
    }
    .menuHome article.imagen-menu .imagen-color figcaption {
        margin: 25px 0 !important;
        text-align: center !important;
    }
    .menuHome article.imagen-menu .imagen-color figcaption a {
        margin: 10px;
        display: block;
    }
    /*MENU MOBILE*/
    .menuMobile {
        display: block;
        position: absolute;
        left: 0px;
        top: 80px;
        width: 30px;
        height: 30px;
        margin: 25px;
    }
    .menuMobile span {
        margin: 0 auto;
        position: relative;
        top: 12px;
    }
    .menuMobile span:before,
    .menuMobile span:after {
        position: absolute;
        content: '';
    }
    .menuMobile span,
    .menuMobile span:before,
    .menuMobile span:after {
        width: 30px;
        height: 6px;
        background-color: #2f98d9;
        display: block;
    }
    .menuMobile span:before {
        margin-top: -12px;
    }
    .menuMobile span:after {
        margin-top: 12px;
    }
    .menuAnimacion span {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .menuAnimacion:hover span {
        background-color: rgba(0, 0, 0, 0.0);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .menuAnimacion span:before {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
    .menuAnimacion:hover span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }
    .menuAnimacion span:after {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
    .menuAnimacion:hover span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }
    /*TERMINA MENU MOBILE*/
    .social {
        border-top: 1px solid #dedede;
    }
    .social li {
        border: none;
        font-size: 1.5em
    }
}